In [61]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import keras
import pandas as pd
from keras.preprocessing import sequence

Load datasets

In [2]:
train = np.asarray(pd.read_csv('./data/train.csv'))
test = np.asarray(pd.read_csv('./data/test.csv'))

Concatenate train and test

In [10]:
data = np.vstack((train[:,:-1],test))

In [11]:
data.shape

(313864, 131)

Start by putting the continuous input features in X and labelled output from training set in y

In [ ]:
X = data[:,-14:].astype(np.float32)
y = train[:,-1].astype(np.float32)

One hot encoding of all the 116 cathegorical variables

In [19]:
for i in range(1,117):
    fac = pd.factorize(data[:,i])
    X = np.hstack((keras.utils.np_utils.to_categorical(fac[0]),X))

Split train and test again

In [21]:
X_train = X[:train.shape[0]]
X_test = X[train.shape[0]:]

In [22]:
X_train.shape

(188318, 1190)

Final input has 1190 features

In [247]:
#1180 1176
model = keras.models.Sequential()
model.add(keras.layers.Dense(10,activation="relu",input_dim=1153))
#model.add(keras.layers.Dense(200,activation="relu"))
#model.add(keras.layers.Dense(10,activation="relu"))
#model.add(keras.layers.Dense(10,activation="relu"))
model.add(keras.layers.Dense(1))
model.compile(optimizer='adadelta',loss='mae')

Current leaderboard model, with continous variables unchanged

In [26]:
#1141 LB unchanged cont
model = keras.models.Sequential()
model.add(keras.layers.Dense(100,activation="relu",input_dim=1190))
model.add(keras.layers.Dense(10,activation="relu"))
#model.add(keras.layers.Dense(10,activation="relu"))
#model.add(keras.layers.Dense(10,activation="relu"))
model.add(keras.layers.Dense(1))
model.compile(optimizer='rmsprop',loss='mae')

In [74]:
#normalize cont
X_train[:,-14:] = (X_train[:,-14:] - np.mean(X_train[:,-14:],axis=0))/np.std(X_train[:,-14:],axis=0)

In [77]:
model = keras.models.Sequential()
model.add(keras.layers.Dense(400,activation="relu",input_dim=1190))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(200,activation="relu"))
model.add(keras.layers.Dropout(0.2))
#model.add(keras.layers.Dense(10,activation="relu"))
#model.add(keras.layers.Dense(10,activation="relu"))
model.add(keras.layers.Dense(1))
model.compile(optimizer='rmsprop',loss='mae')

In [ ]:
model.fit(X_train,y,nb_epoch=100,batch_size=32,validation_split=0.2)

Train on 150654 samples, validate on 37664 samples
Epoch 1/100
150654/150654 [==============================] - 26s - loss: 1276.9950 - val_loss: 1182.8177
Epoch 2/100
150654/150654 [==============================] - 26s - loss: 1202.1639 - val_loss: 1174.8503
Epoch 3/100
150654/150654 [==============================] - 28s - loss: 1191.0077 - val_loss: 1167.6285
Epoch 4/100
150654/150654 [==============================] - 26s - loss: 1183.0361 - val_loss: 1160.6662
Epoch 5/100
150654/150654 [==============================] - 27s - loss: 1175.7173 - val_loss: 1153.7790
Epoch 6/100
150654/150654 [==============================] - 26s - loss: 1168.0719 - val_loss: 1150.9410
Epoch 7/100
150654/150654 [==============================] - 26s - loss: 1163.0873 - val_loss: 1148.9993
Epoch 8/100
150654/150654 [==============================] - 26s - loss: 1157.7250 - val_loss: 1155.8278
Epoch 9/100
150654/150654 [==============================] - 26s - loss: 1154.8119 - val_loss: 1144.9817
Epoch 10/100
150654/150654 [==============================] - 27s - loss: 1150.2564 - val_loss: 1141.3465
Epoch 11/100
150654/150654 [==============================] - 27s - loss: 1145.0125 - val_loss: 1146.2064
Epoch 12/100
150654/150654 [==============================] - 28s - loss: 1141.8421 - val_loss: 1147.0471
Epoch 13/100
150654/150654 [==============================] - 28s - loss: 1137.9852 - val_loss: 1139.8542
Epoch 14/100
110464/150654 [====================>.........] - ETA: 7s - loss: 1136.6287

In [36]:
y_pred = model.predict(X_test)

In [47]:
y_pred[:,0]

(125546,)

In [48]:
df = pd.DataFrame({'id': test[:,0], 'loss': y_pred[:,0]})
df.to_csv('submission.csv', index = False)

In [49]:
df

            id         loss
0            4  1463.913452
1            6  1736.634521
2            9  8514.776367
3           12  7177.371094
4           15   904.612915
5           17  2655.254639
6           21  2062.958252
7           28   873.305237
8           32  3006.453369
9           43  3010.566162
10          46  2760.009766
11          50   916.177368
12          54  1300.708008
13          62  2486.292969
14          70  1835.458374
15          71  6515.182129
16          75  2426.676025
17          77  2072.883301
18          81  2489.322021
19          83  2412.687988
20          87  1882.870361
21          97  1768.698486
22         103  1171.483398
23         119  1141.700684
24         120  1411.714111
25         127   941.565979
26         138  5642.304199
27         141  3021.486084
28         148  1039.459961
29         150  2447.141602
...        ...          ...
125516  587482  1507.335449
125517  587484  4280.756836
125518  587489  1999.327271
125519  587494  1729.938232
125520  587509   944.300781
125521  587511   738.593140
125522  587515  2118.432129
125523  587517  2922.596436
125524  587519  1845.546387
125525  587524   628.176697
125526  587531  6976.066895
125527  587532  5774.681641
125528  587534  2211.591064
125529  587538  2255.904541
125530  587540  3369.495850
125531  587548  1143.759399
125532  587549  6032.762207
125533  587560  4058.237061
125534  587561  1574.223633
125535  587581  1370.931396
125536  587583  1663.988770
125537  587587  2112.033447
125538  587596  1801.540649
125539  587610  1907.260986
125540  587613  1541.022949
125541  587617  2200.382324
125542  587621  2991.476807
125543  587627  2497.240967
125544  587629  1122.307739
125545  587634  3332.199951

[125546 rows x 2 columns]

In [50]:
sample = pd.read_csv('./data/sample_submission.csv')

In [51]:
sample

            id  loss
0            4     0
1            6     0
2            9     0
3           12     0
4           15     0
5           17     0
6           21     0
7           28     0
8           32     0
9           43     0
10          46     0
11          50     0
12          54     0
13          62     0
14          70     0
15          71     0
16          75     0
17          77     0
18          81     0
19          83     0
20          87     0
21          97     0
22         103     0
23         119     0
24         120     0
25         127     0
26         138     0
27         141     0
28         148     0
29         150     0
...        ...   ...
125516  587482     0
125517  587484     0
125518  587489     0
125519  587494     0
125520  587509     0
125521  587511     0
125522  587515     0
125523  587517     0
125524  587519     0
125525  587524     0
125526  587531     0
125527  587532     0
125528  587534     0
125529  587538     0
125530  587540     0
125531  587548     0
125532  587549     0
125533  587560     0
125534  587561     0
125535  587581     0
125536  587583     0
125537  587587     0
125538  587596     0
125539  587610     0
125540  587613     0
125541  587617     0
125542  587621     0
125543  587627     0
125544  587629     0
125545  587634     0

[125546 rows x 2 columns]